@tailwind base;

html, body {
    font-family: lato, 'sans-serif';
    overflow: hidden;
}

html, body, div, p {
    @apply antialiased;
  }

::-webkit-scrollbar {
    width: .5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #C4C4C4;
    opacity: 40%; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ED1260; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ED1260; 
  }


.bg-login {
    background-image: url('../images/logo.png');
}

*, :after, :before {
    box-sizing: inherit;
}

.w3 {
    width: .7rem;
}

.mr1 {
    margin-right: .4rem;
}

ol, ul {
    padding-left: 1.2em;
}

ol, p, ul {
    margin: 0 0 1.7em;
}

input:not([type="image" i]) {
    box-sizing: border-box;
}

.oca-auth {
    background: #f7fafc;
    height: 100vh;
}

.oca-auth .oca-viewport {
    display: flex;
    flex-direction: column;
}

.oca-viewport {
    min-height: 100vh;
    background: #f4f8fb;
    position: relative;
}

.oca-bg {
    position:absolute;
    z-index:0;
    width: 50vw;
    right: 0;
    bottom: 0;
}

.oca-main {
    padding: 0 4vw;
    min-height: 100hv;
}

.oca-auth .oca-main {
    display: -webkit-box;
    display: flex;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.oca-main {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-direction: normal;
    flex-direction: column;
    background: #f2f4f7;
    overflow-y: auto;
    overflow-x: hidden;
}

.oca-auth-inner {
    max-width: 800px;
}

.inner {
    margin: 0 auto;
    max-width: 1030px;
    width: 100%;
}

.oca-auth-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    padding-bottom: 100px;
}

.oca-auth-logo, .oca-logo {
    margin: 0 auto;
    padding: 0 10px;
    width: 300px;
}

a {
    color: #26a6ed;
    text-decoration: none;
    transition: all .5s ease;
}

a {
    background-color: transparent;
}

.oca-auth form {
    position: relative;
    margin: 30px auto 20px;
    padding: 30px 30px 33px;
    max-width: 360px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 1px rgba(0,0,0,.09), 0 2px 5px rgba(0,0,0,.03);
}

.oca-welcome-title {
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: 22px;
    color: #4F4F4F;
}

button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

button {
    overflow: visible;
    border: none;
    background: transparent;
}

button, input, optgroup, select, text-area {
    margin: 0;
    color: inherit;
    font: inherit;
}

input {
    line-height: normal;
}

button, select {
    text-transform: none;
}

.oca-auth .oca-form-group {
    margin-bottom: 15px;
}

.oca-form-group {
    max-width: none;
}

.oca-form-group {
    position: relative;
    margin-bottom: 1.6em;
    max-width: 500px;
    width: 100%;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.oca-input-icon {
    position: relative;
}

.oca-input-icon input {
    padding-left: 35px;
}

.oca-input, .oca-select, select {
    display: block;
    padding: 12px;
    width: 100%;
    border: 1px solid #dbe3e7;
    color: #677d87;
    font-size: .9rem;
    /* font-weight: normal; */
    line-height: 1em;
    font-weight: 400;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    border-radius: 5px;
    transition: border-color .15s linear;
    -webkit-appearance: none;
}

.oca-forgotten-password {
    position: relative;
}

.oca-forgotten-password .oca-input {
    padding-right: 77px;
}

.oca-auth-wrapper .oca-forgotten-password .oca-forgotten-password-link {
    position: absolute;
    top: 10px;
    right: 1px;
    bottom: 10px;
    display: block;
    padding: 5px 11px 5px 12px;
    border-left: 1px solid #dae1e3;
    color: #97aebb;
    font-size: .8rem;
    line-height: 1em;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    background-color: transparent;
    border-radius: 0;
    -webkit-appearance: normal;
}

.oca-auth .oca-submit-signin {
    margin-top: 30px;
}

.oca-btn {
    display: inline-block;
    outline: none;
    border: 1px solid #cbdfeb;
    color: #738a94;
    text-decoration: none!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: #738a94;
    border-radius: 5px;
    transition: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

.oca-btn-block {
    display: block;
    width: 100%;
}

.oca-btn-red {
    padding: 1px;
    border: 0;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    fill: #fff;
    background: linear-gradient(87deg, #ed1c24, #ed1260);
    box-shadow: 0 1px 0 rgba(0,0,0,.12);
    transition: none!important;
}

.oca-btn-red span {
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.1);
}

.oca-btn span {
    display: block;
    padding: 0 14px;
    height: 37px;
    font-size: .9rem;
    line-height: 37px;
    font-weight: 400;
    text-align: center;
    border-radius: 4px;
}

/* SIDEBAR DASHBOARD */

.oca-app, .oca-viewport {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
}

.oca-app {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
}

.oca-app, .oca-flow, .oca-flow-content, .oca-main, .oca-nav-body {
    -webkit-box-orient: vertical;
}

.oca-nav, .oca-nav-menu {
    display: -webkit-box;
    display: flex;
}

.oca-nav {
    z-index: 800;
    -webkit-box-flex: 0;
    flex: 0 0 248px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    background: #fff;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    border-right: 1px solid #e5e9ef;
}

.oca-main, .oca-main>section, .oca-nav {
    position: relative;
}

.oca-nav-menu {
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    padding: 24px 0 11px;
    margin: 0 10px;
}

.oca-nav-menu-logo {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0 20px;
    min-width: 0;
}

.oca-nav-logo {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    background: transparent ;
    border-radius: 6px;
}

.oca-nav-body {
    display: -webkit-box;
    display: flex;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.oca-nav-bottom {
    margin: 12px 5px;
}

.oca-nav-list {
    margin: 32px 15px 0;
    padding: 0;
    list-style: none;
    font-size: .95rem;
    line-height: 1.6em;
}

.oca-nav-list li {
    margin: 0;
    padding: 0;
}

.oca-nav-list .oca-nav-list-h {
    overflow: hidden;
    padding: 10px 20px;
    letter-spacing: .4px;
    line-height: 1.1em;
}

.oca-nav-list .oca-nav-list-h, .gh-user-email, .gh-user-name {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.relative {
    position: relative;
}

.oca-nav-list a, .oca-nav-list .oca-nav-list-h a {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 3px 28px;
    color: #3e4b50;
    -webkit-transition: none;
    transition: none;
    transition: none;
    margin: 2px 5px;
    font-size: .9rem;
    font-weight: 400;
    border-radius: 5px;
}

.oca-nav-list a:hover, .oca-nav-bottom .cursor-pointer:hover {
    position: relative;
    color: #343f44;
    background: #e7ecf3;
}

.oca-nav-list a.nuxt-link-active, .oca-nav-list-h a.nuxt-link-active {
    position: relative;
    color: #343f44;
    background: #e7ecf3;
    font-weight: 700;
}

.items-center {
    -webkit-box-align: center;
    align-items: center;
}

.outline-0 {
    outline: 0;
}

.pl4 {
    padding-left: 1.6rem;
}

.pr3 {
    padding-right: 1.2rem;
}

.pa2 {
    padding: .8rem;
}

.flex-auto {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.oca-user-avatar {
    flex-shrink: 0;
    display: block;
    width: 34px;
    height: 34px;
    margin: 0 8px 0 0;
    background-position: 50%;
    background-size: cover;
    border-radius: 100%;
    border: 1px solid #d9dfe7;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.oca-user-name, .oca-user-email {
    padding: 0 0 3px;
    word-break: break-word;
    line-height: 1.1em;
    max-width: 160px;
    overflow-x: hidden;
    font-size: .9rem;
}

.oca-user-name {
    margin: -2px 8px 2px 0;
    font-weight: 600;
}

.oca-user-email {
    margin: -1px 8px -3px 0;
    font-weight: 400;
    color: #54666d;
}

.oca-main > section {
    width: 100%;
}

.oca-canvas {  
    margin: 0 auto;
    max-width: 1220px;
}

.oca-canvas-header {
    flex-shrink: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    min-height: 84px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #f2f4f7;
    z-index: 700;
    margin: 0 -24px 3px;
    padding: 0 24px;
    border-bottom: 1px solid;
    border-color: rgba(229,233,239,0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: border-color;
    transition-property: border-color;
}

.oca-canvas-title {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: -3px 0 0 1px;
    padding: 0;
    text-indent: -1px;
}

.oca-canvas-title, .view-title {
    overflow: hidden;
    font-size: 1.9rem;
    line-height: 1.2em;
    font-weight: 600;
    letter-spacing: .4px;
    min-height: 35px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.view-actions {
    flex-shrink: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.view-container {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.apps-first-header, .apps-first-header .apps-grid-title {
    margin-top: 0;
}

.apps-grid-container {
    margin: 2vw 0 0;
}

.apps-filter, .apps-grid, .id-item {
    border-radius: 5px;
}

.apps-grid-title {
    display: block;
    margin: 1vw 0 5px 1px;
    color: #9baeb8;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .35px;
    font-size: .9rem;
} 

.apps-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: start;
    align-items: flex-start;
    background: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 6px rgba(0,0,0,.03), 0 6px 10px -8px rgba(0,0,0,.1);
}

.apps-grid-cell:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.apps-grid-cell:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.apps-grid-cell {
    -webkit-box-flex: 1;
    flex: 1 1 100%;
    background: #fff;
    margin: 0;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.apps-grid-cell:first-of-type .apps-card-app {
    border-top: none;
}

.apps-card-app {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    padding: 16px;
    height: 65px;
    border-top: 1px solid #e5eff5;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.apps-card-left {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.user-list-item-icon {
    flex-shrink: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 12px;
    width: 36px;
    height: 36px;
    background: #e5eff5;
    border-radius: 100%;
    color: transparent;
    font-size: 0;
}

.apps-card-meta {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-right: 70px;
}

.apps-card-app-title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1.15em;
    font-weight: 600;
}

.apps-card-app-desc {
    display: -webkit-box;
    overflow: hidden;
    margin: 4px 0 0;
    padding: 0;
    max-height: 4.2rem;
    color: #738a94;
    text-overflow: ellipsis;
    font-size: .9rem;
    line-height: 1.3em;
    font-weight: 400;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.apps-card-right, .apps-configured {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.oca-team .apps-configured {
    flex-wrap: wrap;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.apps-configured {
    color: #738a94;
    font-weight: 300;
}

.apps-configured-action {
    margin-left: 15px;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.apps-configured a {
    display: inline-block;
    padding: 0 4px;
    border-radius: 4px;
}

.oca-nav-list img {
    @apply mr-2;
    width: 16px;
    height: 16px;
    fill: #738a94;
    line-height: 1;
    -webkit-transition: none;
    transition: none;
}

@media (max-width: 1460px) and (min-width: 600px){
.apps-card-app-desc {
    padding-right: 80px;
    }
}